@import '../../styles/start';

.stat {
  padding: $spacer 0;

  h2 {
    text-align: center;
    margin-right: calc(10% + 5rem);
  }

  @include media-breakpoint-up(md) {
    padding: 0 $spacer;
  }
}
